<form action="/dashboard/addstation" method="POST">
    <div class="columns">
        <div class="field column is-one-third">
            <label class="label">Station</label>
            <div class="control">
                <input class="input" placeholder="Station Name" type="text" name="title" required>
            </div>
        </div>

        <div class="field column is-one-third">
            <label class="label">Latitude</label>
            <div class="control">
                <input class="input" placeholder="53.333" type="text" name="lat" required>
            </div>
        </div>
        <div class="field column is-one-third">
            <label class="label">Longitude</label>
            <div class="control">
                <input class="input" placeholder="-3.443" type="text" name="lng" required>
            </div>
        </div>
    </div>
    <div class="field mt-3">
        <div class="control">
            <button class="button is-info">Add Station</button>
        </div>
    </div>
</form>
