#{extends 'main.html' /}
#{set title:'About' /}

#{welcomemenu id:"about"/}


<div class="content box">
    <div class="content-flex">
        <div class="content-text"><p class="title">
            About The Weather Top App
        </p>
            <p>
                Welcome to WeatherTop, the ultimate weather data storage and display application designed for weather
                enthusiasts! <br> <br>
                With WeatherTop, you have the power to contribute and store your own weather data, creating a
                personalized weather experience.
                Whether you're an amateur meteorologist, a nature enthusiast, or simply passionate about tracking local
                conditions, WeatherTop empowers you to become a part of the weather community. <br>
                Capture and upload your own weather observations, including temperature, humidity, wind direction, and
                more, directly from your location.
                Share your data with other users, fostering a collaborative environment for weather analysis and
                exploration.
            </p></div>
        <div class="content-img"><img id="about" src="/public/images/about.jpg"></div>
    </div>
</div>