#{extends 'main.html' /}
#{set title:'About' /}

#{welcomemenu id:"about"/}


<div class="content box">
  <div class="content-flex"><div class="content-text"><p class="title">
    About The Weather Top App
  </p>
    <p>
      The Weather Top application is intended to help various users access and store information <br>
      that has been accumulated by a vast array of privately owned weather stations across the country.
    </p></div>
    <div class="content-img"><img src="/public/images/about.jpg"></div></div>

</div>