#{extends 'main.html' /}
#{set title:'Welcome' /}

#{welcomemenu id:"start"/}

<div class="content box">
    <p class="title">
        Welcome to Weather Top Application
    </p>
    <p>
        A small app to let you look at various contributions from our approved members whom own weather reading systems.
        <br> Signed in members are able to add their own stations and readings that will remain private to their own profiles.
        <figure class="image">
             <img src="/public/images/home.jpg">
        </figure>
    </p>
</div>
