#{extends 'main.html' /}
#{set title:'WeatherTop' /}

#{welcomemenu id:"start"/}

<div class="content box">
    <div class="content-flex">
        <div class="content-text"><p class="title">
            Welcome to Weather Top Application
        </p>
            <p>
                Welcome to WeatherTop, your ultimate weather companion! Our home page is your gateway to a world of
                weather information and exploration. <br><br>
                With a sleek and intuitive design, WeatherTop welcomes you with a captivating display of current weather
                conditions in your
                Are you a weather enthusiast or a passionate observer? WeatherTop goes beyond being a passive weather
                app. Join our community of weather enthusiasts and contribute your own weather data.<br>
                Share your observations, measurements, and insights, and connect with fellow weather lovers from around
                the globe that is <em>Ireland</em>.
            </p></div>
        <div class="content-img"><img src="/public/images/home.jpg"></div>
    </div>
</div>
