#{extends 'main.html' /}
#{set title:'Welcome' /}

#{welcomemenu id:"start"/}

<div class="content box">
    <div class="content-flex"><div class="content-text"><p class="title">
        Welcome to Weather Top Application
    </p>
        <p>
            A small app to let you look at various contributions from our approved members whom own weather reading systems.
            <br> Signed in members are able to add their own stations and readings that will remain private to their own profiles.


        </p></div>
        <div class="content-img"><img src="/public/images/home.jpg"></div></div>



</div>
