#{extends 'main.html' /}
#{set title:'Station List' /}

#{menu id:"StationList"/}

#{if station.readings.size() > 0}
<div class="content box">
    <h1 class="title">
        ${station.name}<br>
    </h1>

    <div class="columns">
        <div class="column is-one-fifth">
            <div class="card">
                <div class="card-content">
                    <div class="content has-text-centered">
                        <h2><i class="fa-solid fa-location-dot"></i><br>${station.name}</h2><br>
                        Lat: ${station.roundLat()}<br>
                        Lng: ${station.roundLng()}<br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-one-fifth">
            <div class="card">
                <div class="card-content">
                    <div class="content has-text-centered">
                        <h2><i class="fa-solid ${station.toCodeIcon()}"></i> <br> Weather</h2><br>
                        ${station.toCode()}<br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-one-fifth">
            <div class="card">
                <div class="card-content">
                    <div class="content has-text-centered">
                        <h2><i class="fa-solid ${station.toTempIcon()}"></i> <br>Temp</h2>
                        ${station.getLatestTemp()}°C<br>
                        ${station.toFahrenheit()}°F <br>
                        Max: ${station.getMaxTemp()}°C<br>
                        Min: ${station.getMinTemp()}°C<br><br><br><br>
                        <i class="fa-solid fa-xl ${station.getTempTrend()}"></i>

                    </div>
                </div>
            </div>
        </div>
        <div class="column is-one-fifth">
            <div class="card">
                <div class="card-content">
                    <div class="content has-text-centered">
                        <h2><i class="fa-solid fa-wind"></i> <br> Wind</h2>
                        ${station.toBeufort()} bft<br>
                        ${station.windDirection()}<br>
                        Feels like <br>
                        ${station.toWindChill()}°C <br>
                        Max ${station.getMaxWindSpeed()} km/h <br>
                        Min ${station.getMinWindSpeed()} km/h <br><br>
                        <i class="fa-solid fa-xl ${station.getWindTrend()}"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-one-fifth">
            <div class="card">
                <div class="card-content">
                    <div class="content has-text-centered">
                        <h2><i class="fa-solid fa-arrow-down-short-wide"></i> <br> Pressure</h2>
                        ${station.getLatestPressure()} hpa<br>
                        Max: ${station.getMaxPressure()} hpa<br>
                        Min: ${station.getMinPressure()} hpa <br><br><br><br><br>
                        <i class="fa-solid fa-xl ${station.getPressureTrend()}"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    #{listreadings station:station /}
    #{addreading station:station /}
#{/if}
    #{else}
    <div class="card" > #{listreadings station:station /}</div>
        <h1><br> There are no Readings for ${station.name}<br><br><br></h1>
    #{addreading station:station /}
    #{/else}
</div>


