#{extends 'main.html' /}
#{set title:'Station List' /}

#{menu id:"StationList"/}

<div class="content box">
    <h1 class="title">
        ${station.name}
    </h1>

    <div class="columns">
        <div class="column is-3">
            <div class="card">
                <div class="card-content">
                    <div class="content has-text-centered">
                        <h2>Weather</h2>
                        ${station.toCode()}<br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card">
                <div class="card-content">
                    <div class="content has-text-centered">
                        <h2>Temperature</h2>
                        ${station.getLatestTemp()}°C<br>
                        ${station.toFahrenheit()}°F <br><br><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card">
                <div class="card-content">
                    <div class="content has-text-centered">
                        <h2>Wind</h2>
                        ${station.toBeufort()} bft<br>
                        ${station.windDirection()}<br>
                        Feels like <br>
                        ${station.toWindChill()}°C
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card">
                <div class="card-content">
                    <div class="content has-text-centered">
                        <h2>Pressure</h2>
                        ${station.getLatestPressure()} hpa<br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    #{listreadings station:station /}
    #{addreading station:station /}
</div>


